html {
	font-family: "Helvetica Neue", sans-serif;
}

html, body {
	background-color: white;
	margin: 0;
	padding: 0;
}

.nav {
	background-color: white;
	display: block;
}

.nav a {
	float: left;
}

.nav p {
	padding: 0;
	margin: 0;
	clear: left;
	float: right;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	clear: right;
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
}
